form {
    background-color: gray;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background: #ff7b00;
    background: linear-gradient(90deg, rgba(255, 123, 0, 1) 0%, rgba(0, 115, 255, 1) 100%);
}

.kaas {
    width: 150px;
    height: 150px;
}